@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
/* globals.css */
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #999;
  color: white;
}

.navbar {
  position: fixed;
  width: 90%;
  top: 1rem; /* Adjust as needed for the desired space below absolute top */
  z-index: 9999;
  padding: 12px;
  background-color: #111111;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
}

.nav-links a {
  color: #ffffff;
  margin-right: 20px;
  padding: 6px;
  border-radius: 25%;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links a.active {
  color: #6b46c1;
}

.nav-links a:hover{
  background: #6b46c1;
  color: #fff;
}

.button {
  color: #ffffff;
  text-decoration: none;
  border: 2px solid #ffffff;
  padding: 10px 20px;
  border-radius: 30px;
  background: linear-gradient(45deg, #6b46c1, #03001C);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button::before {
  content: "";
  position: relative;
  top: 50%; /* Adjust as needed for vertical alignment */
  left: 50%; /* Adjust as needed for horizontal alignment */
  transform: translate(-50%, -50%); /* Center the pseudo-element */
  width: 100%; /* Match the button's width */
  height: 100%; /* Match the button's height */
  background-color: #03001C;
  border-radius: 30px;
  z-index: -1;
  transition: opacity 0.3s ease;
  background-color: transparent;
}

.button:hover {
  color: #ffffff;
  background: linear-gradient(45deg, #03001C, #6b46c1);}

/* .button:hover::before {
  opacity: 0;
} */

.container {
  background-color: #6b46c1;
  padding-top: 7rem;
  padding-left: 1rem;
  max-width: 100%;
  padding-right: 1.5rem;
  height: 100vh;
}
